body {   
    background-color: #fff5ff;    
}

#header {
    display:flex;
    align-items: center;
    justify-content: center;
}

.centralizado {
    text-align: center;
}

ul {
    list-style: none;
    padding-left: 0;
}